##

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
np.set_printoptions(suppress=True)

In [3]:
raw_df = pd.read_csv('input/example_data.csv', index_col=0)
raw_df

,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Europe,Japan,USA
9,8,390.0,190.0,3850.0,8.5,70,0,0,1
25,8,360.0,215.0,4615.0,14.0,70,0,0,1
28,8,304.0,193.0,4732.0,18.5,70,0,0,1
31,4,113.0,95.0,2228.0,14.0,71,0,1,0
33,6,232.0,100.0,2634.0,13.0,71,0,0,1
...,...,...,...,...,...,...,...,...,...
369,4,112.0,88.0,2395.0,18.0,82,0,0,1
375,4,105.0,74.0,1980.0,15.3,82,1,0,0
382,4,108.0,70.0,2245.0,16.9,82,0,1,0
384,4,91.0,67.0,1965.0,15.7,82,0,1,0
396,4,120.0,79.0,2625.0,18.6,82,0,0,1

In [20]:
raw_df.iloc[0]

Cylinders          8.0
Displacement     390.0
Horsepower       190.0
Weight          3850.0
Acceleration       8.5
Model Year        70.0
Europe             0.0
Japan              0.0
USA                1.0
Name: 9, dtype: float64

In [4]:
path = "dnn_model"
model = keras.models.load_model(path) # or tf.saved_model.load(path)
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization (Normalization (None, 9)                 19
_________________________________________________________________
dense_5 (Dense)              (None, 64)                640
_________________________________________________________________
dense_6 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 65
=================================================================
Total params: 4,884
Trainable params: 4,865
Non-trainable params: 19
_________________________________________________________________

In [6]:
model.predict(np.expand_dims(raw_df.iloc[0], axis=0))

array([[15.818567]], dtype=float32)

In [5]:
model.predict(raw_df[:1].values)

array([[15.818567]], dtype=float32)

In [7]:
model.predict(np.array(list(d.values()),ndmin=2, dtype=np.float32))

NameError: name 'd' is not defined

In [ ]:
model.predict([8.00e+00 3.90e+02 1.90e+02 3.85e+03 8.50e+00 7.00e+01 0.00e+00 0.00e+00
 1.00e+00])

In [48]:
list(d.values())

[8.0, 390.0, 190.0, 3850.0, 8.5, 70.0, 0.0, 0.0, 1.0]

In [77]:
r = model.predict(np.array([8.0, 390.0, 190.0, 3850.0, 8.5, 70.0, 0.0, 0.0, 1.0], ndmin=2)).squeeze().tolist()

In [78]:
r

15.818567276000977